[train] #train parameters
batch_size = 8

# 梯度累积速度
grad_accumulation_steps = 1

shuffle =True

reader_num = 4

optimizer = adam
learning_rate = 0.0001

epoch = 100

lr_scheduler = reduce_on_plateau

# 恢复训练检查点路径 (可以是相对路径或绝对路径)
resume_checkpoint = /mnt/d/Data/checkpoint/UASMLSTM/0.pkl

# 是否只保存模型权重 (不保存完整模型状态)
weights_only_save = true

# 是否保存训练状态（与权重分开保存）
save_training_state = true


[distributed]
use = false
backend = nccl

[eval] #eval parameters
batch_size = 4
shuffle = True
reader_num = 2
resume_checkpoint = /mnt/d/Data/checkpoint/UASMLSTM/5.pth

[data] #data parameters
train_dataset_type = PreCorrect_UASMLSTM
train_formatter_type = PreCorrect_UASMLSTM
train_data_path = /mnt/d/Data/train/

valid_dataset_type = PreCorrect_UASMLSTM
valid_formatter_type = PreCorrect_UASMLSTM
valid_data_path = /mnt/d/Data/val/

test_dataset_type = PreCorrect_UASMLSTM
test_formatter_type = PreCorrect_UASMLSTM
test_data_path = /mnt/d/Data/test/


[model] #model parameters
model_name = UASMLSTM

img_height = 560
img_width = 784


seq_length = 4
stride = 1  
in_channels = 4
out_channels = 64
num_layers = 4
num_hiddens = 64,64,64,64

layer_norm = True

[output] #output parameters
output_time = 1
test_time = 5

metrics_reset_interval = 50

model_path = /mnt/d/Data/checkpoint/
model_name = UASMLSTM


accuracy_method = PrecipitionCorrection
output_function = Precipition

tensorboard_path = ./TensorBoard


